
body.form {
  form {
    background-color: #edebe8;
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 46px 46px 8px;

    .easy-autocomplete {
      position: relative;
    }

    .easy-autocomplete-container ul {
      background: white;
      margin-top: -15px;
      padding: 10px 0;
      display: none;
      border-bottom-right-radius: 2em;
      border-bottom-left-radius: 2em;
      position: absolute;
      width: 100%;

      li {
        list-style-type: none;
        padding: 0;
        cursor: pointer;
        padding: 5px 10px;

        &:hover {
          background: #edebe8;
        }
      }
    }
    
    // ONLY FOR DESKTOP
    @media screen and (min-width: $breakpoint) {
      min-width: 415px;
      width: 430px;
    }
    
    // Arrow right
    &:before {
      content: " ";
      margin-left: -46px;
      width: 0px;
      border: 13px solid transparent;
      border-left: 13px solid #EEF6F9;
      position: absolute;
    }
    
    &>* {
      margin-bottom: 10px;
    }
    
    .radio label {
      margin: 0;
      
      span {
        position: absolute;
        margin-top: -2px;
        margin-left: 28px;
        
        // ONLY FOR PHONE
        @media screen and (max-width: ($breakpoint - 1px)) {
          margin-left: 6px;
        }
      }
    }
    
    p {
      font-size: 0.95em;
    }
    
    .submit {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    input {
      border-radius: 2em;
      border: none;
      background: #FFF;
      padding: 0.8em 1.3em;
      outline: none;
      
      &[type=radio] {
        position: absolute;
        visibility: hidden;
        
        & + span:before {
          cursor: pointer;
          content: " ";
          display: inline-block;
          width: 15px;
          height: 15px;
          background-color: $red;
          border: 8px solid #FFF;
          border-radius: 1em;
          box-sizing: border-box;
          transition: border 0.2s ease-in-out;
          position: absolute;
          margin: -3px 0 0 -27px;
          
          // ONLY FOR DESKTOP
          @media screen and (min-width: $breakpoint) {
            width: 22px;
            height: 22px;
            border-width: 11px;
          }
        }
        
        &:checked + span:before {
          border-width: 3px;
        }
        
        // ONLY FOR DESKTOP
        @media screen and (min-width: $breakpoint) {
          &:checked + span:before {
            border-width: 5px;
          }
        }
      }
      
      &[type=submit] {
        background-color: $red;
        font-size: 1.2em;
        font-style: italic;
        color: #FFF;
        padding: 10px 48px;
        transition: background 0.3s ease-in-out;
        
        &:hover {
          background-color: darken($red, 10%);
        }
      }
    }

    #error {
      color: red;
    }
    
    // ONLY FOR DESKTOP
    @media screen and (min-width: $breakpoint) {
      width: 430px;
      
      .grid-3-1.no-label {
        margin-left: 25%;
      }
      
      .grid-1-3 {
        margin-right: 10%;
      }
      
      .grid-1-3>:nth-child(2) {
        width: 62%;
      }
      
      .grid-1-3:first-child>:nth-child(2) {
        width: 70%;
      }
      
      .txtright {
        font-size: 0.9em;
      }
      
      &>*:first-child {
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
    
    // ONLY FOR PHONE
    @media screen and (max-width: ($breakpoint - 1px)) {
      
      * {
        text-align: center !important;
        font-style: normal;
      }
      
      .txtright {
        margin-bottom: 16px;
      }
      
      .grid-3-1,
      .grid-1-3 {
        display: block;
        width: 196px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .grid-3 {
        justify-content: space-between;
        display: flex;
      }
      
      &>*:first-child {
        margin-bottom: 20px;
      }
      
      p {
        width: 100%;
        max-width: 280px;
        margin: 20px auto 10px;
        font-size: 1.1em;
      }
    }
  }

  #success {
    background-color: #edebe8;
    flex-direction: column;
    padding: 46px 46px 8px;
    display: none;
    font-style: normal;
  }
}